<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container-fluid" align="left">
        <img align="middle" height="500" width="500" src="https://i.imgflip.com/g92vw.jpg?a440400" alt="hero">
    </div>
    <h1>Just Kidding, this time I am serious click here to see Srinu</h1>
            <a href= "{% url 'srinu2' %}"><h2>Click Here</h2></a>
    {% endblock %}
</body>
</html>